<footer class="bg-dark text-white">
    <div class="container">
        <div class="pb-3 pt-3 small text-center">
            <div class="align-items-center row">
            </div>
            <p class="mb-0">&copy; 2021 - 2021 | All Rights Reserved -
                <a href="#"
                   target="_blank"
                >Engine Sistemas &amp; Serviços
                </a>
            </p>
        </div>
    </div>
</footer>
