<h1>Seja muito bem vindo!</h1>
<br>
<p>Para finalizar a inscrição e ativar sua conta, </p>
<p>por favor confirme o seu email clicando no link abaixo: </p>
<br>
<br>
<a href="{{ app_url }}{{ route('confirmEmail', { confirmation_token }) }}">
    Confirme o seu email clicando aqui...</a>
<br>
<br>
<br>
<p>Obrigado</p>
<p><b>Equipe Adonis Starter</b></p>
