<p>Olá,<p/>
<br>
<p>Parece que você solicitou a redefinição da senha da sua conta.</p>
<br>
<p>Se se não foi você, então ignore este e-mail.</p>
<p>Caso contrário, altere sua senha seguindo o link:</p>
<br>
<a href="{{ app_url }}{{ route('resetPassword', { reset_token }) }}">Redefinir senha</a>
<br>
<br>
<p>Obrigado</p>
<p><b>Equipe Adonis Starter</b></p>
